.loginAdmin{
  margin: 3em 0 3em ;
   margin-left: 33%
  
}
.btnAdmin{
	 margin: 3em 3em 3em ;
}
input[type="submit"] {
	margin-left: 20px;
	/*float:right;  */
}

.inputSelect{
	float:center;
      font-family: inherit;
    font-size: inherit;
    line-height: inherit;
        height: 50px;
            color: inherit;
    font: inherit;

        -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
        color: inherit;
    font: inherit;
    margin: 0;
}

