
<IfModule mod_rewrite.c>
#activa la movida URL friendly
RewriteEngine on
ErrorDocument 404 http://localhost/TFG_adolecumberri/index.php
#arriba, cambiar index.php por la pag error404

RewriteCond %{SCRIPT_FILENAME} !-d

RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)/(.*)/(.*) index.php?c=$1&m=$2&page=$3
</IfModule>